{% extends "base" %}

{% block title %}Custom Maps{% endblock title %}

{% block content %}
<div class="grid">
<div class="box">
{{ total_time | safe}}
</div>
<div class="box">
{{ total_deaths | safe}}
</div>
</div>

<div class="box">
{{ map_table | safe}}
</div>
{% endblock content %}
