[Unit]
Description=Celeste Stats Website rocket backend
After=network.target

[Service]
WorkingDirectory=/www/celeste-stats/website
ExecStart=/www/celeste-stats/website/target/release/website
User=web
Restart=on-faliure

[Install]
WantedBy=multi-user.target
